@import "tailwindcss";

:root {
  --background: #e4d7b0;
  --foreground: #5c4b3e;
  --card: #e7dbbf;
  --card-foreground: #5c4b3e;
  --popover: #f3ead2;
  --popover-foreground: #5c4b3e;
  --primary: #8d9d4f;
  --primary-foreground: #fdfbf6;
  --secondary: #decea0;
  --secondary-foreground: #5c4b3e;
  --muted: #decea0;
  --muted-foreground: #85766a;
  --accent: #dbc894;
  --accent-foreground: #5c4b3e;
  --destructive: #d98b7e;
  --destructive-foreground: #faf8f2;
  --border: #b19681;
  --input: #dbc894;
  --ring: #9db18c;
  --chart-1: #9db18c;
  --chart-2: #8a9f7b;
  --chart-3: #bac9b4;
  --chart-4: #71856a;
  --chart-5: #5e6e58;
  --sidebar: #e2d1a2;
  --sidebar-foreground: #5c4b3e;
  --sidebar-primary: #9db18c;
  --sidebar-primary-foreground: #fdfbf6;
  --sidebar-accent: #eae5d9;
  --sidebar-accent-foreground: #5c4b3e;
  --sidebar-border: #e5e0d4;
  --sidebar-ring: #9db18c;
  --font-sans: Merriweather, serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.425rem;
  --shadow-2xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-sm: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow-md: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 2px 4px -1px hsl(88 22% 35% / 0.15);
  --shadow-lg: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 4px 6px -1px hsl(88 22% 35% / 0.15);
  --shadow-xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 8px 10px -1px hsl(88 22% 35% / 0.15);
  --shadow-2xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.38);
}

.dark {
  --background: #3a3529;
  --foreground: #ede4d4;
  --card: #413c33;
  --card-foreground: #ede4d4;
  --popover: #413c33;
  --popover-foreground: #ede4d4;
  --primary: #8a9f7b;
  --primary-foreground: #2a2521;
  --secondary: #5a5345;
  --secondary-foreground: #ede4d4;
  --muted: #4a4439;
  --muted-foreground: #a8a096;
  --accent: #a18f5c;
  --accent-foreground: #2a2521;
  --destructive: #b5766a;
  --destructive-foreground: #f0e9db;
  --border: #5a5345;
  --input: #5a5345;
  --ring: #8a9f7b;
  --chart-1: #8a9f7b;
  --chart-2: #9db18c;
  --chart-3: #71856a;
  --chart-4: #a18f5c;
  --chart-5: #5e6e58;
  --sidebar: #3a3529;
  --sidebar-foreground: #ede4d4;
  --sidebar-primary: #8a9f7b;
  --sidebar-primary-foreground: #2a2521;
  --sidebar-accent: #a18f5c;
  --sidebar-accent-foreground: #2a2521;
  --sidebar-border: #5a5345;
  --sidebar-ring: #8a9f7b;
  --font-sans: Merriweather, serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.425rem;
  --shadow-2xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-sm: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow-md: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 2px 4px -1px hsl(88 22% 35% / 0.15);
  --shadow-lg: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 4px 6px -1px hsl(88 22% 35% / 0.15);
  --shadow-xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 8px 10px -1px hsl(88 22% 35% / 0.15);
  --shadow-2xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
/*
@layer base {
  :root {
    --background: oklch(0.96 0 0);
    --foreground: oklch(0.32 0 0);
    --card: oklch(0.97 0 0);
    --card-foreground: oklch(0.32 0 0);
    --popover: oklch(0.97 0 0);
    --popover-foreground: oklch(0.32 0 0);
    --primary: oklch(0.49 0 0);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.91 0 0);
    --secondary-foreground: oklch(0.32 0 0);
    --muted: oklch(0.89 0 0);
    --muted-foreground: oklch(0.51 0 0);
    --accent: oklch(0.81 0 0);
    --accent-foreground: oklch(0.32 0 0);
    --destructive: oklch(0.56 0.19 25.86);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.86 0 0);
    --input: oklch(0.91 0 0);
    --ring: oklch(0.49 0 0);
    --chart-1: oklch(0.49 0 0);
    --chart-2: oklch(0.49 0.04 196.03);
    --chart-3: oklch(0.65 0 0);
    --chart-4: oklch(0.73 0 0);
    --chart-5: oklch(0.81 0 0);
    --radius: 0.35rem;
    --sidebar: oklch(0.94 0 0);
    --sidebar-foreground: oklch(0.32 0 0);
    --sidebar-primary: oklch(0.49 0 0);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.81 0 0);
    --sidebar-accent-foreground: oklch(0.32 0 0);
    --sidebar-border: oklch(0.86 0 0);
    --sidebar-ring: oklch(0.49 0 0);
    --font-sans: Montserrat, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --shadow-color: hsl(0 0% 20% / 0.1);
    --shadow-opacity: 0.15;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
    --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
    --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
    --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
    --tracking-normal: 0em}
  .dark {
    --background: oklch(0.22 0 0);
    --foreground: oklch(0.89 0 0);
    --card: oklch(0.24 0 0);
    --card-foreground: oklch(0.89 0 0);
    --popover: oklch(0.24 0 0);
    --popover-foreground: oklch(0.89 0 0);
    --primary: oklch(0.71 0 0);
    --primary-foreground: oklch(0.22 0 0);
    --secondary: oklch(0.31 0 0);
    --secondary-foreground: oklch(0.89 0 0);
    --muted: oklch(0.29 0 0);
    --muted-foreground: oklch(0.60 0 0);
    --accent: oklch(0.37 0 0);
    --accent-foreground: oklch(0.89 0 0);
    --destructive: oklch(0.66 0.15 22.17);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.33 0 0);
    --input: oklch(0.31 0 0);
    --ring: oklch(0.71 0 0);
    --chart-1: oklch(0.71 0 0);
    --chart-2: oklch(0.67 0.03 206.35);
    --chart-3: oklch(0.55 0 0);
    --chart-4: oklch(0.46 0 0);
    --chart-5: oklch(0.37 0 0);
    --radius: 0.35rem;
    --sidebar: oklch(0.24 0 0);
    --sidebar-foreground: oklch(0.89 0 0);
    --sidebar-primary: oklch(0.71 0 0);
    --sidebar-primary-foreground: oklch(0.22 0 0);
    --sidebar-accent: oklch(0.37 0 0);
    --sidebar-accent-foreground: oklch(0.89 0 0);
    --sidebar-border: oklch(0.33 0 0);
    --sidebar-ring: oklch(0.71 0 0);
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --shadow-color: hsl(0 0% 20% / 0.1);
    --shadow-opacity: 0.15;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
    --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
    --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
    --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38)}
  .theme {
    --font-sans: Inter, sans-serif;
    --font-mono: Fira Code, monospace;
    --font-serif: Georgia, serif;
    --radius: 0.35rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em)
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
} */

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}